@font-face {
    font-family:'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*общие стили*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    line-height: 1.25;
}
  
body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400; /*regular*/
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

h1, h2, h3,
.header-slogan,
.footer-slogan {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

/*шапка*/

.header {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.header-logo-box {
    width: 190px;
}

.slogan-box {
    width: 100%;
}

.header-slogan {
    font-weight: 700;
    letter-spacing: 4px;
    display: block;
}

/*кнопки*/

.btn {
    font-size: 14px;
    border-radius: 35px;
    background-color: #5e42b0;
    box-shadow: 0px 16px 24px 0 #0a0e34;
    display: inline-block;
    text-align: center;
    width: 311px;
    height: 77px;
    position: relative;
    padding: 30px 25px 30px 110px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.btn span{
    font-weight: 700;
}

.btn > p {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.btn-apple {
    margin-right: 50px;
}

.btn-apple::before {
    position: absolute;
    content: "";
    position: absolute;
    top: calc(50% - 45px/2);
    width: 42px;
    height: 48px;
    left: 45px;
    background: url("../img/apple_logo.svg") no-repeat 0 0;
}

.btn-google::before {
    position: absolute;
    content: "";
    top: calc(50% - 45px/2);
    width: 40px;
    height: 50px;
    left: 45px;
    background: url("../img/google-play.svg") no-repeat 0 0;
}

.header-buttons {
    display: flex;
}

/*блок атлеты и игроки*/

.athlets, .players {
    position: relative;
    overflow: hidden;
}

.players {
    flex-direction: row-reverse;
}

.athlets-img, .players-img {
    position: absolute;
    top: 0;
}

.athlets-img {
    left: calc(50% - 685px);
}

.big-block-title {
    font-weight: 700;
    font-size: 8rem;
    color: #e7e7e7;
    font-size: 4.2vw; /*резиновый шрифт из расчета 80px при ширине вьюпорта 1903*/
}

.box-num {
    font-weight: 700;
    font-size: 1.8rem;
    border-bottom: 4px solid #5e42b0;
    width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
    vertical-align: text-bottom;
    line-height: 1.6;
}

.big-block-title--motiv {
    color: #e6e6e6;
}

.mid-block-title {
    color: #c1c1c1;
    font-weight: 700;
    font-size: 3.6rem;
    display: inline-block;
    letter-spacing: 2px;
}

.block-text-third {
    color: #ffffff;
}

.athlets-list-2 {
    background-color: #f6f4fa;
}

.athlets-list-3 {
    background-color: #5e42b0;
}

.athlets-list-3 .box-num {
    border-bottom: 4px solid #ffffff;
}

.players-list-2 {
    background-color: #f5f6f7;
}

.players-list-3 {
    background-color: #0a0e34;
}

.players-list-3 .box-num {
    color: #684fb3;
    border-bottom: 4px solid #ffffff;
    border-radius: 2px;
}

.players-list {
    width: 100%;
}

.players-box {
    width: 100%;
}

/*мотивация*/

.motiv-list {
    display: flex;
    width: 100%;
}

.motiv-wrap {
    position: relative;
}

.motiv-wrap,
.motiv-descr {
    flex-basis: 50%;
    font-size: 0;
}

.motiv-num {
    position: absolute;
    background-color: #5e42b0;
    text-align: center;
    display: flex;
}

.motiv-num-inner {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    border-bottom: 4px solid #8f7bc8;
    border-radius: 2px;
    border-top-left-radius: 2px;
}

/*подвал*/

.footer {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;

    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-title {
    font-size: 8rem;
    color: #fff;
}

.footer-title-box {
    position: relative;
}

.footer-title-box::before {
    content: url("../img/surface_logo.svg");
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(to top, #50329c, #7751db);
}

.footer-slogan {
    color: #a496ca;
}

/*телефон*/

@media (max-width: 640px) {
    .header {
        background-image: linear-gradient(to right, rgba(10,14,52,0.9) 0%, rgba(10,14,52,0.9) 100%), url('../img/Background-header_320.jpg');
    }

    .header-logo-box {
        width: 133px;
    }
    
    .header-slogan {
        font-size: 2.8rem;
        letter-spacing: 1.5px;
    }

    .slogan-box {
        width: 87.5%;
    }

    .header-slogan-1 {
        margin-bottom: 3.5vh;
    }
    
    .btn {
        font-size: 0.8rem;
        width: 100%;
        height: 35px;
        padding: 0px;
        padding-left: 40%;
    }

    .btn-apple::before {
        top: calc(50% - 20px/2);
        width: 20px;
        height: 24px;
        left: 30%;
    }

    .btn-google::before {
        top: calc(50% - 22px/2);
        width: 22px;
        height: 24px;
        left: 30%;
    }

    .header {
        padding-top: 5.8vh;
        padding-bottom: 15vh;
    }

    .header-buttons {
        display: block;
        width: 87.5%;
    }

    .btn-apple {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .mid-block-title {
        font-size: 2.8rem;
        margin-top: 52.5px;
        margin-bottom: 28.5px;
        letter-spacing: 1px;
    }

    .big-block-title {
        font-size: 2.8rem;
        margin-top: ;
    }

    .athlets-header,
    .players-header,
    .athlets-list,
    .players-list {
        padding: 0 6.25%;
    }

    .athlets-img, .players-img {
        position: static;
        top: 0;
    }

    .athlets-img img, 
    .players-img img{
        display: block;
        margin: auto;
    }

    .box-num {
        margin-right: 3px;
        line-height: 1.5;
    }

    .big-block-title{
        margin-top: 11.25px;
    }

    .motiv-descr .big-block-title{
        margin-top: 27.5px;
        margin-bottom: 16px;
    }

    .motiv-list .big-block-title,
    .motiv-list .block-text {
        margin-left: 6.25%;
        margin-right: 6.25%;
    }

    .motiv-list .block-text {
        margin-bottom: 73.5px;
    }

    .motiv-list {
        display: block;
        width: 100%;
    }
    
    .motiv-img,
    .motiv-img img,
    .motiv-descr {
        width: 100%;
    }

    .motiv-num {
        width: 70px;
        height: 70px;
        bottom: -4%;
        left: 6.25%;
    }

    .motiv-num-inner {
        font-size: 14px;
        line-height: 1.5;
    }

    .footer-title {
        font-size: 3.2rem;
    }

    .header-slogan-2 {
        margin-left: 20%;
    }

    .athlets .block-text,
    .players .block-text {
        font-size: 1.5rem;
        padding-bottom: 50px;
        line-height: 1.2;
    }

    .block-text {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .footer {
        background-image: linear-gradient(to right, rgba(10,14,52,0.9) 0%, rgba(10,14,52,0.9) 100%), url('../img/Background-footer_320.jpg');
        padding-top: 65%;
        padding-bottom: 1.87%;
    }

    .footer-title {
        letter-spacing: 2px;
    }

    .footer-title-box::before {
        bottom: calc(100% + 48px);
        left: calc(50% - 38px);
        width: 72px;
        padding: 10px 7px 4px;
        border-radius: 15px;
    }

    .footer-slogan {
        font-size: 1.4rem;
        text-align: center;
        letter-spacing: 1px;
    }
}

/*планшет*/

@media (min-width: 641px) and (max-width: 960px) {
    .header {
        background-image: linear-gradient(to right, rgba(10,14,52,0.9) 0%, rgba(10,14,52,0.9) 100%), url('../img/Background-header_768.jpg');
        padding-top: 40px;
        padding-bottom: 90px;
    }

    .header-slogan {
        font-size: 6.4rem;
        letter-spacing: 3px;
    }

    .header-logo-box {
        width: 205px;
    }

    .header-slogan-1 {
        margin-left: 11.7%;
    }

    .header-slogan-2 {
        margin-left: 25%;
    }

    .motiv-list {
        display: block;
        width: 100%;
    }
    
    .motiv-img,
    .motiv-img img,
    .motiv-descr {
        width: 100%;
    }

    .motiv-num {
        width: 115px;
        height: 115px;
        left: 4%;
        bottom: -4%;
    }

    .motiv-list .big-block-title,
    .motiv-list .block-text {
        margin-left: 4%;
    }

    .motiv-descr .big-block-title {
        line-height: 1;
        margin-top: 86px;
        margin-bottom: 16px;
    }

    .motiv-descr .block-text {
        max-width: 85.9%;
        margin-bottom: 86px;
    }

    .players .big-block-title,
    .athlets .big-block-title {
        margin-top: 65px;
        font-size: 8rem;
    }

    .motiv-list .big-block-title {
        font-size: 8rem;
    }

    .athlets-img {
        top: 95px;
        left: 0;
    }

    .btn-apple {
        margin-right: 30px;
    }

    .athlets-list,
    .athlets-header {
        padding-left: 37.7%;
        padding-right: 4.7%;
    }

    .players-list,
    .players-header {
        padding-left: 4.3%;
        padding-right: 40.36%;
    }

    .players-img {
        right: 0;
        top: 6%;
    }

    .athlets .block-text,
    .players .block-text {
        line-height: 1.5;
        padding-bottom: 50px;
    }

    .block-text {
        font-size: 1.6rem;
    }

    .mid-block-title {
        font-size: 3.2rem;
        margin-top: 42px;
        margin-bottom: 20.5px;
        letter-spacing: 0px;
    }

    .mid-block-title-1 {
        margin-top: 32px;
    }

    .footer {
        background-image: linear-gradient(to right, rgba(10,14,52,0.9) 0%, rgba(10,14,52,0.9) 100%), url('../img/Background-footer_768.jpg');
        padding-top: 35%;
        padding-bottom: 2.1%;
    }

    .footer-slogan {
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 30%;
    }

    .footer-title-box::before {
        bottom: calc(100% + 58px);
        left: calc(50% - 68px);
        width: 132px;
        padding: 25px 14px 12px;
        border-radius: 30px;
    }
}

/*десктоп*/

@media (min-width: 961px) {
    .header {
        background-image: linear-gradient(to right, rgba(10,14,52,0.9) 0%, rgba(10,14,52,0.9) 100%), url('../img/Background-header_1920.jpg');
        padding-top: 45px;
        padding-bottom: 110px;
    }

    .header-slogan {
        font-size: 9rem;
    }

    .header-slogan-1 {
        margin-left: 9.4%;
    }
    
    .header-slogan-2 {
        margin-left: 30%;
    }

    .players-list,
    .players-header {
        padding-left: 16.7%;
        padding-right: 54%;
    }

    .athlets-list,
    .athlets-header {
        padding-left: 52%;
        padding-right: 10.5%;
    }

    .athlets .big-block-title,
    .players .big-block-title {
        margin-top: 95px;
    }

    .mid-block-title {
        margin-top: 60.5px;
        margin-bottom: 14px;
    }

    .athlets-list-3 .mid-block-title,
    .players-list-3 .mid-block-title {
        margin-top: 80px;
    }

    .players-img {
        left: calc(50% - 130px);
    }

    .block-text {
        font-size: 2rem;
        line-height: 1.4;
        padding-bottom: 66px;
        padding-bottom: 6.94%;
    }

    .athlets-list-3 .block-text,
    .players-list-3 .block-text {
        padding-bottom: 92px;
    }

    .motiv-list {
        position: relative;
    }

    .motiv-wrap {
        position: static;
    }

    .motiv-list:nth-child(even) {
        flex-direction: row-reverse;
    }

    .motiv-list:nth-child(even) .big-block-title,
    .motiv-list:nth-child(even) .block-text {
        margin-left: 19.97%;
        margin-right: 85px; /*добавили отступ справа чтобы FIND CONTACT не пересекался с квадратом "02"*/
    }

    .motiv-descr .big-block-title {
        margin-top: 25.22%;
        margin-bottom: 9.69%;
        margin-left: 130px;
    }

    .motiv-descr .block-text {
        margin-left: 130px;
        font-size: 2.4rem;
        max-width: 538px;
        font-size: calc(1.1vw + 3px); /*резиновый шрифт из расчета 24px при ширине вьюпорта 1903. Надо было 1,26vw, но 3 пикселя из 24 оставили как константу (1,1vw = 21px если vw = 1903) - чтобы при уменьшении ширины шрифт не становился очень мелким. */
    }

    .motiv-num {
        width: 170px;
        height: 155px;
        left: calc(50% - 170px/2);
        top: 28.7%;
    }

    .footer {
        background-image: linear-gradient(to right, rgba(10,14,52,0.9) 0%, rgba(10,14,52,0.9) 100%), url('../img/Background-footer_1920.jpg');
        padding-top: 12%;
        padding-bottom: 2.63%;
    }

    .footer-title-box::before {
        top: 5px;
        left: -40px;
        width: 132px;
        padding: 25px 14px 12px;
        border-radius: 30px;
    }

    .footer-title-box {
        position: relative;
        padding-left: 130px;
    }

    .footer-slogan {
        font-size: 3rem;
    }
}